@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Lato", Calibri, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: auto;
  background-color: #445069;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  color: black;
  font-weight: bold;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 98.8vw;
  overflow-y: hidden;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  padding: 10px;
  margin-left: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.logo:hover {
  transform: scale(1.01);
  background-color: #f4e566;
}

.nav-items {
  padding: 0 5px;
  width: auto;
}

.nav-items > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-items > ul > li {
  padding: 10px 40px;
  margin: 10px;
  cursor: pointer;
  font-size: larger;
  margin-right: 20px;
  color: #f5f5f5;
  border-radius: 10px;
}

.nav-items > ul > li:hover {
  background-color: grey;
  color: #f4e566;
}

.title > a {
  color: white;
  margin-left: 5px;
  font-style: italic;
  font-size: x-large;
  cursor: pointer;
}

.cart {
  background-color: none;
  color: white;
  font-size: 80px;
}

.restaurant-list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  border-radius: 10px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.card > img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card > img:hover {
  transform: scale(1.02);
}

.card > span {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 0px;
}

.card > span > h4 {
  text-align: center;
}

.card > span > h4:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(19, 176, 1);
  padding: 4px 10px 5px;
  border-radius: 5px;
  color: white;
}

.card > span > h4:first-child:hover {
  transform: scale(1.1);
  background-color: rgb(1, 163, 144);
  color: #f4e566;
}

.card h3 {
  text-align: center;
  color: goldenrod;
  padding: 10px;
  margin-bottom: 20px;
}

.card > h4 {
  text-align: center;
  color: rgba(127, 214, 255, 0.925);
  margin-bottom: 10px;
  font-style: italic;
  overflow: hidden;
}

.card > span > h4:not(:first-child) {
  color: #f4e566;
}

.footer {
  margin: 20px 0 0;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: bisque;
  color: blue;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    margin: 10px;
  }

  .nav-items > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }

  .nav-items > ul > li {
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-size: small;
    margin-right: 5px;
    color: #f5f5f5;
    border-radius: 10px;
  }
}

.filter {
  margin: 20px;
  padding: 15px;
  background-color: green;
  color: whitesmoke;
  border-radius: 20px;
  cursor: pointer;
  border: none;
}

.filter:hover {
  transform: scale(0.98);
  background-color: #008000ad;
}

.secondary-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search {
  margin-left: 400px;
}

.search .search-input {
  margin: 20px;
  padding: 7px 10px;
  outline: none;
  border: 1px solid #ccc;
  width: 300px;
}

.search .search-input:active,
.search .search-input:focus {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}

.search button {
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: aqua;
}

.search button:hover {
  transform: scale(1.1);
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15px;
}

.shimmer-card {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.509);
  position: relative;
}

.shimmer-img {
  width: 100%;
  border-radius: 10px;
  background-color: grey;
  height: 50%;
}

.shimmer-top {
  display: flex;
  flex-direction: row;
  width: auto;
  align-items: center;
}

.shimmer-filter {
  margin: 20px;
  padding: 20px 15px;
  background-color: grey;
  border-radius: 20px;
  border: none;
  width: 130px;
}

.shimmer-search-container {
  margin: 20px;
  margin-left: 400px;
  width: 440px;
  height: 25px;
  display: flex;
  flex-direction: row;
}

.shimmer-search-input {
  padding: 15px;
  border: none;
  background-color: grey;
  width: 60%;
  margin-right: 10px;
}

.shimmer-search-btn {
  padding: 15px;
  border-radius: 20px;
  border: none;
  background-color: grey;
  width: 20%;
}

.shimmer-name,
.shimmer-cusine {
  display: flex;
  justify-content: center;
  width: 40%;
  background-color: grey;
  height: 10px;
  margin: 30px 5px;
  border-radius: 5px;
}

.shimmer-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 5px;
}

.shimmer-distance,
.shimmer-cost {
  height: 10px;
  width: 40px;
  background-color: grey;
  border-radius: 5px;
}

.shimmer-rating {
  background-color: grey;
  width: 70px;
  padding: 15px 20px;
  border-radius: 10px;
}

.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}

.res-menu {
  padding-left: 30px;
}

.res-menu > h1,
.res-menu > h2,
.res-menu > p,
.res-menu > ul {
  margin: 40px 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.login-btn {
  width:40px;
  outline: none;
  border: none;
  background: none;
  color: #f5f5f5;
  font-size: large;
  cursor: pointer;
  font-size: large;
  font-weight: 500;
}

/* ------Menu Sectoin--------- */

.res-menu > h2 {
  margin-left: 250px;
}

.menu-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.square {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.best{
  color:#f4e566;
}

.circle-red {
  width: 0;
  height: 0;
  border-bottom: 7px solid red;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.circle-green {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: green;
}

.menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.336);
  padding: 20px 0;
  margin: 10px auto;
}

.menu-content {
  display: flex;
  flex-direction: column;
}

.menu-img {
  width: 200px;
  height: 150px;
  border-radius: 20px;
}

.menu-img > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
}
